

:root {
    --basic-color1: #FFFFFF;
    --basic-color2: #000000;
    --link-color1: #F7B10A;
    --link-color2: #FFD36B;
    --smalltext-color: #EBDEC2;
    --heading-text1: #F8B700;
    --background-color1: #21140F;
    --background-color2: #5F0D00;
    --background-color3: #211510;
    --background-color4: #9F1600;
    --background-color5: #B06601;
    --autumnbackground-color: #361404;
    --border-color1: #352011;
    --border-color2: #F7B10A;
    --border-color3: #E12E11;
    --border-color4: #504137;
    --date-color: #CECECE;
}

*, *::after, *::before {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    }



@font-face {
    font-family: "Semplicita Pro";
    src: url('../fonts/SemplicitaPro-Medium.otf');
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: "Semplicita Pro Semi";
    src: url('../fonts/SemplicitaPro-Semibold.otf');
}



/* ALGEMENE CODE */

body {
    background-color: var(--basic-color2);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.autumnbody {
    background-color: var(--autumnbackground-color);
    background-image: linear-gradient(var(--basic-color2), var(--autumnbackground-color));
    background-image: url('../images/fallingleaves.gif');
}

header {
    background-color: var(--background-color1);
    padding-top: 0.3em;
    padding-bottom: 0;
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 1.1px solid var(--border-color1);
    position: sticky;
    top: 0;
    z-index: 999;
}

header > section {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    margin-top: 2.95em;
    margin-right: 3em;
}

li {
    font-family: "Semplicita Pro", "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-transform: uppercase;
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top,#efd100,#e2a233 19%,#f0c328 30%,#fff1a3 43%,#ffe13e 50%,#fff 51%,#fff);
    background-size: 1em 2em;
    padding-left: 2em;
    padding-bottom: 1em;
}

.menuopen {
    transform: translateX(0);
    display: block;
    z-index: 100;
}

h2 {
    color: var(--heading-text1);
    font-family: "Semplicita Pro", "Open Sans", Arial, Helvetica, sans-serif;
}

h2 {
    color: var(--basic-color1);
    font-family: "Semplicita Pro", "Open Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

h3 {
    color: var(--basic-color1);
    font-family: "Semplicita Pro", "Open Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

p {
    color: var(--basic-color1);
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

img {
    max-width: 100vw;
}

a {
    text-decoration: none;
}



/* HEADER */

header > button:first-of-type {
    height: 3em;
    padding-left: 0.63em;
}

header > button:first-of-type > img {
    height: 1em;
    size: 100%;
}

header > nav > ul > a {
    text-decoration: none;
}

header a > img {
    height: 2.5em;
    padding-top: 0.25em;
}

header a:focus {
    border: 1px solid var(--basic-color1);
}

header > button:nth-of-type(2) > img {
    height: 1.4em;
    padding-right: 0.63em;
    padding-top: 0.25em;
}

header > button {
    all: unset;
    cursor: pointer;
    height: 2.5em;
}

header > button:focus {
    border: 1px solid var(--basic-color1);
    padding-right: 1em;
}


/* HAMBURGER MENU */

header > section {
    background-color: var(--background-color1);
    border-right: 3px solid var(--border-color1);
    border-bottom: 3px solid var(--border-color1);
}

header > section > img {
    width: 60%;
    padding-left: 2em;
}

nav > ul > li > ul {
    list-style-type: none;
    font-size: 0.8em;
}

nav > form {
    padding: 1em;
}

nav > form > ::placeholder {
    color: var(--heading-text1);
    font-family: "Semplicita Pro", "Open Sans", Arial, Helvetica, sans-serif;
}

nav > form > input {
    margin-left: 0;
    padding-right: 10em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    background-color: var(--basic-color2);
    text-align: center;
    border-top: 1px solid var(--border-color1);
    border-bottom: 1px solid var(--border-color1);
}



/* PAGINA INTRODUCTIE */


main > section:first-of-type > div:first-of-type > img{
    width: 100%;
    box-shadow: 0px 8px 18px 4px #000000;
}

main > section:first-of-type > div:first-of-type{
    position: relative;
}

main > section:first-of-type > div:first-of-type h2{
    position: absolute;
    top: 4em;
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
}

main > section:first-of-type > p {
    color: var(--smalltext-color);
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    text-align: center;
    text-shadow: black 1px 0 5px;
    padding: auto;
    margin: 1.13em;
    margin-bottom: 1.44em;
    font-size: 0.97em;
}





main > section:first-of-type > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section:first-of-type > div:nth-of-type(2) a:first-of-type{
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    color: var(--link-color1);
    background-color: var(--basic-color2);
    border: 0.1px solid var(--border-color2);
    padding: 1em 3em 1em 3em;
    margin-bottom: 1.6em;
    font-size: 0.81em;
}

main > section:first-of-type > div:nth-of-type(2) a:first-of-type:hover,
main > section:first-of-type > div:nth-of-type(2) a:first-of-type:focus {
    background-color: var(--background-color5);
    color: var(--link-color2);
}

main > section:first-of-type > div:nth-of-type(2) a:nth-of-type(2){
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    color: var(--link-color1);
    background-color: var(--background-color2);
    border: 1px solid var(--border-color3);
    padding: 1em 3em 1em 3em;
    font-size: 0.81em;
}

main > section:first-of-type > div:nth-of-type(2) a:nth-of-type(2):hover,
main > section:first-of-type > div:nth-of-type(2) a:nth-of-type(2):focus {
    background-color: var(--background-color4);
    color: var(--link-color2);
}


/* LATEST NEWS KOPJE */

main > div {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}

main > div h2 {
    color: var(--basic-color1);
    font-family: "Semplicita Pro", "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding-left: 0.95em;
    padding-right: 1.88em;
    text-transform: uppercase;
}

main > div a {
    color: var(--link-color1);
    font-size: 0.75em;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

main > div a:hover {
    text-decoration: underline;
}

main > div a:focus {
    border: 1px solid var(--basic-color1)
}

/* Nieuwsartikelen */


main > section:nth-of-type(2) {
    padding: 1.25em;
}

main > section:nth-of-type(2) > a > section {
    position: relative;
}
main > section:nth-of-type(2) a section:first-of-type img,
main > section:nth-of-type(2) a section:nth-of-type(2) img {
    width: 100%;
    z-index: -1;
    position: relative;
    display: block;
}

main > section:nth-of-type(2) > a section:first-of-type p:first-of-type,
main > section:nth-of-type(2) > a section:nth-of-type(2) p:first-of-type {
    font-size: 0.75em;
    color: var(--date-color);
}

main > section:nth-of-type(2) > a section:first-of-type p:nth-of-type(2),
main > section:nth-of-type(2) > a section:nth-of-type(2) p:nth-of-type(2) {
    color: var(--link-color1);
    font-size: 0.84em;
    font-family: "Semplicita Pro Semi", "Open Sans", Arial, Helvetica, sans-serif;
    position: absolute;
}

main > section:nth-of-type(2) > a section:first-of-type,
main > section:nth-of-type(2) > a section:nth-of-type(2) {
    background: var(--basic-color2);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.08) 46%,rgba(0,0,0,0.59) 68%,rgba(0,0,0,0.75) 91%,rgba(0,0,0,0.68) 100%);
    border: 1px solid var(--border-color4);
    margin-bottom: 0.94em;
}

main > section:nth-of-type(2) > a > section:hover,
main > section:nth-of-type(2) > a:focus > section{
    border: 1px solid var(--border-color2);
}

main > section:nth-of-type(2) > a > section:hover > div > p:nth-of-type(2) {
    color: var(--basic-color1);
}

main > section:nth-of-type(2) > a section div {
    position: absolute;
    bottom: 2em;
    padding: 0 1em;
    width: 100%;
}

main > section:nth-of-type(2) > a section div p:first-of-type {
    padding-bottom: 0.5em;
}

main > section:nth-of-type(2) > a:nth-of-type(2) > section > div > p:nth-of-type(2) {
    font-size: 0.70em;
}


/* 3 ARTICLES MET GROTE BRUINE BLOKKEN*/


main > section:nth-of-type(3) > a section {
    margin-bottom: 0.3em;
    background-color: var(--background-color3);
    border-bottom: 1.4px solid var(--border-color4);
}

main > section:nth-of-type(3) > a:first-of-type section:hover,
main > section:nth-of-type(3) > a:nth-of-type(2) section:hover {
    border: 1px solid var(--border-color2);
}

main > section:nth-of-type(3) > a:focus > section {
    border: 1px solid var(--border-color2);
}

main > section:nth-of-type(3) > a section > img {
    border-top: 1.2px solid var(--border-color4);
    border-bottom: 1.2px solid var(--border-color4);
    width: 100%;
}

main > section:nth-of-type(3) > a section:first-of-type > h3:first-of-type {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-weight: normal;
    color: var(--smalltext-color);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
    padding-top: 1.8em;
}

main > section:nth-of-type(3) > a section:first-of-type > p:first-of-type {
    text-align: center;
    font-size: 1.7em;
    font-family: "Semplicita Pro", "Open Sans", Arial, Helvetica, sans-serif;
    color: var(--heading-text1);
    font-weight: bold;
}

main > section:nth-of-type(3) > a section:first-of-type > p:nth-of-type(2) {
    color: var(--smalltext-color);
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 6em;
    padding-top: 1.2em;
    margin-left: 2.2em;
    margin-right: 2.2em;
}

main > section:nth-of-type(3) > a section:nth-of-type(2) > h3 {
    color: var(--smalltext-color);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
    padding-top: 1.8em;
}

main > section:nth-of-type(3) > a section:nth-of-type(2) > p:first-of-type {
    text-align: center;
    font-size: 1.7em;
    font-family: "Semplicita Pro", "Open Sans", Arial, Helvetica, sans-serif;
    color: var(--heading-text1);
    font-weight: bold;
}

main > section:nth-of-type(3) > a section:nth-of-type(2) > p:nth-of-type(2) {
    color: var(--smalltext-color);
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 3em;
    padding-top: 1.2em;
    margin-left: 3em;
    margin-right: 3em;
}

/*CAT ARTICLE*/

main > section:nth-of-type(3) > section:first-of-type {
    background-image: url("../images/woody.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3em;
}

main > section:nth-of-type(3) > section:first-of-type > img {
    border-bottom: none;
    position: relative;
    max-width: 100%;
}

.autumnimg {
    background-image: url('../images/rustlingleaves.gif');
    position: absolute;
    max-width: 100%;
    background-size: cover;
}

main > section:nth-of-type(3) > section:first-of-type > h3 {
    color: var(--smalltext-color);
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
    padding-top: 1.8em;
}

main > section:nth-of-type(3) > section:first-of-type > p:first-of-type {
    font-family: "Semplicita Pro", "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.7em;
    margin-left: 1em;
    margin-right: 1em;
    color: var(--basic-color1);
    font-weight: bold;
}

main > section:nth-of-type(3) > section:first-of-type > section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

main > section:nth-of-type(3) > section:first-of-type > section > img:first-of-type {
    object-fit: contain;
}

main > section:nth-of-type(3) > section:first-of-type > section > img:nth-of-type(2) {
    position: absolute; 
    top: 0;
    width: 100%;
    display: block;
}

main > section:nth-of-type(3) > section:first-of-type > section > img:nth-of-type(2).visible {
    display: none;
}

main > section:nth-of-type(3) > section:first-of-type > p:nth-of-type(2),
main > section:nth-of-type(3) > section:first-of-type > p:nth-of-type(3)  {
    color: var(--smalltext-color);
    text-align: center;
    font-size: 0.8em;
    padding-top: 1.2em;
    margin-left: 3em;
    margin-right: 3em;
}

main > section:nth-of-type(3) > section:first-of-type button {
    color: var(--link-color1);
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    font-size: 0.70em;
    padding: 1em;
    background-color: var(--basic-color2);
    border: 1.2px solid var(--border-color2);
    margin: 2em 4em;
    text-transform: uppercase;
}

main > section:nth-of-type(3) > section:first-of-type button:hover {
    background-color: var(--background-color5);
    color: var(--link-color2);
    cursor: pointer;
}

main > section:nth-of-type(3) > section:first-of-type button:focus {
    background-color: var(--background-color5);
}

/* MEDIA QUERIES */

@media (min-width: 21.5em){
    main > section:first-of-type > div:first-of-type h2 {
        font-size: 2.2em;
    }
}

@media (min-width: 23.13em){
    main > section:first-of-type > div:first-of-type h2 {
        top: 4.4em;
    }
    main > section:nth-of-type(2) > a:nth-of-type(2) > section > div > p:nth-of-type(2) {
        font-size: 0.84em;
    }
}

@media (min-width: 24.25em){
    main > section:first-of-type > div:first-of-type h2 {
        font-size: 2.4em;
    }
}

@media (min-width: 25.94em){
    main > section:first-of-type > div:first-of-type h2 {
        top: 4.7em;
    }
}

@media (min-width: 26.88em){
    main > section:first-of-type > div:first-of-type h2 {
        font-size: 2.6em;
    }
}

@media (min-width: 30.63em){
    main > section:first-of-type > div:first-of-type h2 {
        top: 4.7em;
        margin: 1em;
    }
}

@media (min-width: 33.12em){
    main > section:first-of-type > div:first-of-type h2 {
        top: 5.1em;
    }
}

@media (min-width: 35em){
    main > section:first-of-type > div:first-of-type h2 {
        top: 5.7em;
    }
}