
*, *::after, *::before {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    }



@font-face {
    font-family: "Semplicita Pro";
    src: url('../fonts/SemplicitaPro-Medium.otf');
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: "Semplicita Pro Semi";
    src: url('../fonts/SemplicitaPro-Semibold.otf');
}



/* Stanaard code */

body {
    background-color: black;
    margin-left: 0;
    margin-top: 0;
    width: 100vw;
}

header {
    background-color: #21140F;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 100%;

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 1.1px solid #352011;
}

h1 {
    color: white;
    font-family: "Semplicita Pro";
    text-transform: uppercase;
}

h2 {
    color: white;
    font-family: "Semplicita Pro";
}

h3 {
    color: white;
    font-family: "Semplicita Pro";
    font-size: 12.8px;
    padding-left: 15px;
    padding-right: 30px;
}

p {
    color: white;
   font-family: "Open Sans";
}

img{
    max-width: 100vw;
}






/* code voor de header */
header > img:first-of-type {
    max-width: 8%;
    height: 16px;
    padding-left: 10px;
    align-self: center;
}


header > img:nth-of-type(2) {
    width: 9%;
    size: 100%;
    padding-top: 0;
}

header > img:nth-of-type(3) {
    width: 8%;
    height: 27px;
    align-self: center;
    padding-right: 10px;
    padding-top: 4px;
}










/* code voor de main */
main{

}

main > article:first-of-type > section:first-of-type > img{
    width: 100%;
}

main > article:first-of-type > section:first-of-type{
    position: relative;
}

main > article:first-of-type > section:first-of-type h1{
    position: absolute;
    top: 4em;
    text-align: center;
    font-size: 240%;
    line-height: 1.5;
    margin: 0;
}

main > article:first-of-type > p {
    color: #ebdec2;
    font-family: "Open Sans";
    text-align: center;
    padding: auto;
    margin: 18px;
    margin-bottom: 23px;
    font-size: 15.5px;
}





main > article:first-of-type > section:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > article:first-of-type > section:nth-of-type(2) a:first-of-type{
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans";
    color: #f7b10a;
    background-color: black;
    border: 0.1px solid #f7b10a;
    padding: 12px 40px 12px 40px;
    margin-bottom: 25px;
    font-size: 13px;
}

main > article:first-of-type > section:nth-of-type(2) a:nth-of-type(2){
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans";
    color: #f7b10a;
    background-color: #5F0D00;
    border: 1px solid #E12E11;
    padding: 12px 31px 12px 31px;
    font-size: 13px;
}






main > section:first-of-type{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}

main > section:first-of-type a{
    color:#f7b10a;
    font-size: 12px;
    font-family: "Open Sans";
    text-decoration: none;
}


main > section:nth-of-type(2) {
    padding: 20px;
}



main > section:nth-of-type(2) article:first-of-type img,
main > section:nth-of-type(2) article:nth-of-type(2) img {
    width: 100%;
    border: 1px solid #504137;
    z-index: -1;
    position: relative;
}

main > section:nth-of-type(2) > article:first-of-type p:first-of-type,
main > section:nth-of-type(2) > article:nth-of-type(2) p:first-of-type {
    font-size: 12px;
    position: absolute;
    color: #CECECE;
    padding-left: 15px;
}

main > section:nth-of-type(2) > article:first-of-type p:first-of-type {
    top: 72em;
}

main > section:nth-of-type(2) > article:nth-of-type(2) p:first-of-type {
    top: 90em;
}

main > section:nth-of-type(2) > article:first-of-type p:nth-of-type(2),
main > section:nth-of-type(2) > article:nth-of-type(2) p:nth-of-type(2) {
    color:#f7b10a;
    font-size: 13.5px;
    font-family: "Semplicita Pro Semi";
    position: absolute;
    padding-left: 15px;
}

main > section:nth-of-type(2) > article:first-of-type p:nth-of-type(2) {
    top: 65em;
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.9559174011401436) 0%, rgba(0,0,0,0.9475140397956058) 40%, rgba(0,0,0,0.7570378493194152) 100%);
padding-bottom: 23px;
padding-right: 135px;
}

main > section:nth-of-type(2) > article:nth-of-type(2) p:nth-of-type(2) {
    top: 81em;
}

main > section:nth-of-type(2) > article:first-of-type,
main > section:nth-of-type(2) > article:nth-of-type(2) {
    padding-bottom: 15px;
}

main > section:nth-of-type(3) > article:first-of-type > img {
}

/* .imagewtext {
    position: relative;
} */

/* .textoverimg {
    position: absolute;
    top: 4em;
    text-align: center;
    font-size: 240%;
    line-height: 1.5;
    margin: 0;
} */



/* .redbutton {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans";
    color: #f7b10a;
    background-color: #5F0D00;
    border: 1px solid #E12E11;
    padding: 12px 31px 12px 31px;
    font-size: 13px;
} */

/* .blackbutton {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans";
    color: #f7b10a;
    background-color: black;
    border: 0.1px solid #f7b10a;
    padding: 12px 40px 12px 40px;
    margin-bottom: 25px;
    font-size: 13px;
} */

/* .firstbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .newsheadings {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
} */


/* 
.yellowlink {
    color:#f7b10a;
    font-size: 12px;
} */

/* .yellowtext {
    color: #ebdec2;
   font-family: "Open Sans";
   text-align: center;
   padding: auto;
   margin: 18px;
   margin-bottom: 23px;
   font-size: 15.5px;
} */



/* header > img:first-of-type {
    max-width: 8%;
    height: 16px;
    padding-left: 10px;
    align-self: center;
}


header > img:nth-of-type(2) {
    width: 9%;
    size: 100%;
    padding-top: 0;
}

header > img:nth-of-type(3) {
    width: 6%;
    height: 23px;
    align-self: center;
} */

/* .homepageimages {
    width: 100%;
    border: 1px solid #504137;
    z-index: -1;
    position: relative;
} */

/* .homepageimage1 {
    width: 100%;
} */

/* .twoarticles {
    padding: 15px;
} */

/* .data {
    font-size: 12px;
    position: absolute;
} */

/* .articletitles {
    color:#f7b10a;
} */